{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/test_style.css' %}?after"/>
    <link rel="icon" href="{% static 'img/icon.png' %}?after">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <title>GDTI test</title>
</head>
<body>
    {% block sub_area %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/share.js' %}"></script>
</body>
</html>