{% extends 'basement.html' %}
{% load static %}
{% block sub_area %}
    <article class='text'>
        GDTI 검사에서는 24개의 질문이 주어집니다.<br><br>
        1.그렇지 않다 &nbsp; 2.상황에 따라 다르다 &nbsp; 3.그렇다<br>
        위의 3가지 선택지 중 하나를 고르시면 됩니다.<br>
        읽자마자 직관적으로 선택해주세요<br>
        <br>
        질문들 중에는 자신이 아직 경험해보지 못한<br>상황이나 생각에 대한 내용이 있을수도 있습니다<br><br>
        그럴땐 최대한 '이러한' 상황에서 본인이라면<br>어떻게 했을지를 생각해서 체크해 주면 됩니다<br>
        <br>
        위의 내용을 이해하셨다면 검사를 진행해 주세요
        <br><br> 
        <a href='{% url 'test' %}'><button class="contrast">시작하기</button></a>
    </article> 
    
    <footer class='footer'>
        <div class='lfoot'>
            <ins class="kakao_ad_area" style="display:none;"
            data-ad-unit = "DAN-SwINIV94m69q3Fmd"
            data-ad-width = "320"
            data-ad-height = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
    </footer>
{% endblock %}